# --- CORE ML & AUDIO ---
numpy<2.1.0
scipy
librosa
soundfile
einops

# --- HUGGINGFACE & AI ---
transformers
accelerate
huggingface-hub

# --- MODELLI ---
munch
pyyaml
nltk
jieba
cn2an
pypinyin
eng-to-ipa
phonemizer
unidecode
inflect

# --- ANALISI & VISUALIZZAZIONE ---
scikit-learn
matplotlib
seaborn
tqdm

# --- UTILS ---
requests
python-dotenv
onnxruntime